/* 饿了么 */
.el-dialog {
  border-radius: 5px;
  overflow: hidden;
}
.el-dialog .el-dialog__header {
  padding: 10px 20px;
  background: #f8f8f8;
}
.el-dialog .el-dialog__header .el-dialog__title {
  color: #1a1a1a;
  font-size: 14px;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 15px;
}
.el-breadcrumb__inner {
  line-height: 40px;
}
